input {
	width: 20px;
	height: 20px;
	text-align: center;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

td:first-child {
	border-left: 2px solid black;
}

td:nth-child(3n) {
	border-right: 2px solid black;
}

tr:first-child > td {
	border-top: 2px solid black;
}

tr:nth-child(3n) > td {
	border-bottom: 2px solid black;
}
